.App-svg-area {
  background-color: #282c34;
  min-height: 44vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-svg {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-svg {
    animation: App-logo-spin-counterCW infinite 20s linear;
  }
}

.App-svg1 {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
  border-radius: 100%;
  border: 5px solid;
}

.App-svg1:hover {
  border:100px solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-svg1 {
    animation: App-logo-spin-CW infinite 2s linear, back2white alternate infinite 20s linear;
  }
}

.App-svg2 {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
  border-radius: 100%;
  border: 5px solid;}

@media (prefers-reduced-motion: no-preference) {
  .App-svg2 {
    animation: App-logo-spin-counterCW infinite 20s linear, back2gray alternate infinite 20s linear;
  }
}

.App-svg3 {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
  border-radius: 100%;
  border: 5px solid;}

@media (prefers-reduced-motion: no-preference) {
  .App-svg3 {
    animation: App-logo-spin-CW infinite 50s linear, back2blue alternate infinite 20s linear;
  }
}

.App-svg4 {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
  border-radius: 100%;
  border: 5px solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-svg4 {
    animation: App-logo-spin-counterCW infinite 20s linear, back2yellow alternate infinite 20s linear;
  }
}

.App-svg5 {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
  border-radius: 100%;
  border: 5px solid;}

@media (prefers-reduced-motion: no-preference) {
  .App-svg5 {
    animation: App-logo-spin-CW infinite 100s linear, back2greenyellow alternate infinite 20s linear;
  }
}

.App-svg6 {
  height: 20vmin;
  pointer-events: none;
  margin: 50px;
  border-radius: 100%;
  border: 5px solid;}

@media (prefers-reduced-motion: no-preference) {
  .App-svg6 {
    animation: App-logo-spin-counterCW infinite 20s linear, back2red alternate infinite 20s linear;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin-CW infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin-CW {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-counterCW {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes back2gray {
  from {background-color: 282c34;}
  to {background-color: gray;}
}

@keyframes back2yellow {
  from {background-color: #282c34;}
  to {background-color: yellow;}
}

@keyframes back2red {
  from {background-color: #282c34;}
  to {background-color: red;}
}

@keyframes back2white {
  from {background-color: #282c34;}
  to {background-color: white;}
}

@keyframes back2blue {
  from {background-color: #282c34;}
  to {background-color: blue;}
}

@keyframes back2greenyellow {
  from {background-color: #282c34;}
  to {background-color: greenyellow;}
}